<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>3i</title>
    <link rel="stylesheet" href="../static/indexcss/login/style.css"/>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
   
</head>

<body>
   
  <div class="container-fluid grad">
      <div class="row ">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 ">
		
 <div class="wrapper">
     
    <form class="form-signin"  >
     <center> <img  src="../static/img/logo1.png"/></center>
        <center><p id="mss"></p></center>
      <input type="text" class="form-control" name="username" id="unam" placeholder="User Name" required="" autofocus="" /><br>
      <input type="password" class="form-control" name="password" id="pass" placeholder="Password" required=""/><br>
  
      <button class="btn btn-lg btn-primary btn-block" type="button" onclick="login()">Login</button>
    </form>
  </div>
              </div>
          <div class="col-md-2">
          </div>
    </div>
    </div>

   <script src="../static/jsfile/logpage.js"></script>

</body>

</html>
