<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> 3i soft tech</title>
<link rel="stylesheet" href="../static/indexcss/home/index.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/bootstrap/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
   
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
     <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
    
        
</head>

<body onload="resu()">

<input type="hidden" value="{{carS}}" id='caro'/>
 <section id="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--  <a class="navbar-brand" href="#"><img  src="../static/img/logo.png"></a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/route/">Route History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log In</a>
      </li>
     
    </ul>
  </div>
</nav>
</section>
<!-------------------------------------->
<section id="banner" style="height:auto;">
<div class="container-fluid">
<div class="row" >
    <div class="col-md-7">
     <div id="map" style="height:100%; border: 1px solid #AAA;"></div>
    </div>
    <div class="col-md-5">
        <div class="row">
        <div class="col-md-12" >
           

             <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Value</th>
            </tr>
          </thead>
            <tbody id="carValue">

            </tbody>
        </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <img src="" id="pic"style="height: 280px; width:100%; border: 1px solid #AAA; margin-top:10px;"/>
                
            </div>
        </div>
    </div>

</div>
    
</div>
<script type='text/javascript' src='../static/daily/leaf-demosh.js'></script>
</section>


</body>
</html>


    
